In [1]:
import pandas as pd
from kaggle_connector import KaggleConnector

# Initialize the connector - it will automatically load credentials from .env
connector = KaggleConnector()

# Let the connector download and load the dataset automatically
df = connector.load_nba_players_dataset()

# Display the first few rows
df.head()

Dataset URL: https://www.kaggle.com/datasets/yagizfiratt/nba-players-database

,ï»¿PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
0,76001,Abdelnaby,Alaa,alaa-abdelnaby,1610612757,blazers,0,Portland,Trail Blazers,POR,...,1990.0,1.0,25.0,NaN,5.7,3.3,0.3,Career,1990,1994
1,76002,Abdul-Aziz,Zaid,zaid-abdul-aziz,1610612745,rockets,0,Houston,Rockets,HOU,...,1968.0,1.0,5.0,NaN,9.0,8.0,1.2,Career,1968,1977
2,76003,Abdul-Jabbar,Kareem,kareem-abdul-jabbar,1610612747,lakers,0,Los Angeles,Lakers,LAL,...,1969.0,1.0,1.0,NaN,24.6,11.2,3.6,Career,1969,1988
3,51,Abdul-Rauf,Mahmoud,mahmoud-abdul-rauf,1610612743,nuggets,0,Denver,Nuggets,DEN,...,1990.0,1.0,3.0,NaN,14.6,1.9,3.5,Career,1990,2000
4,1505,Abdul-Wahad,Tariq,tariq-abdul-wahad,1610612758,kings,0,Sacramento,Kings,SAC,...,1997.0,1.0,11.0,NaN,7.8,3.3,1.1,Career,1997,2003

In [2]:
df = df[df['PLAYER_FIRST_NAME'] == 'Luka']
df.head()

,ï»¿PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
1134,1629029,DonÄiÄ,Luka,luka-donÄiÄ,1610612747,lakers,0,Los Angeles,Lakers,LAL,...,2018.0,1.0,3.0,1.0,28.2,8.2,7.7,Season,2018,2024
1524,1630568,Garza,Luka,luka-garza,1610612750,timberwolves,0,Minnesota,Timberwolves,MIN,...,2021.0,2.0,52.0,1.0,3.5,1.4,0.3,Season,2021,2024
3899,1629677,Samanic,Luka,luka-samanic,1610612762,jazz,0,Utah,Jazz,UTA,...,2019.0,1.0,19.0,NaN,4.5,2.4,0.6,Career,2019,2023